<!-- Menu -->
<div id="menu" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{  path('nicolas_eshop_homepage') }}" class="navbar-brand">E-shop Nicolas Torre</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{  path('nicolas_eshop_homepage') }}">Les produits</a></li>
                {% if is_granted("ROLE_ADMIN") %}<li><a href="{{  path('nicolas_eshop_admin') }}">Administration E-Shop</a><</li>{% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li><a href="{{ path('nicolas_eshop_basket_list') }}">Voir mon panier</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Fin Menu -->